<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
{% if author.researchgate %}
        <li>
          <a href="www.researchgate.net/profile/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fa-brands fa-researchgate" aria-hidden="true"></i> ResearchGate
          </a>
        </li>
      {% endif %}

<!--<li>
  <a href="https://www.researchgate.net/profile/Angela-Fontan/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
    <i class="fas fa-fw" aria-hidden="true"></i> ResearchGate
  </a></li>-->
