---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #3b5998;
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
$link-color: #3b5998;

html {
  font-size: 14px; // change to whatever

  @include breakpoint($medium) {
    font-size: 14px; // change to whatever, originally 18px
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever, originally 20px
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever, originally 22px
  }
  
  .archive__item-title {
    position: relative;
    font-size: 14px;
  }
}

