#customlistjournal {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    counter-reset: elementcounter;
  }
  
  #customlistjournal>li:before {
    /* print out "Element " followed by the current counter value */
    content: "[J" counter(elementcounter) "]";
    /* increment counter */
    counter-increment: elementcounter;
  }

  #customlistconference {
    /* delete default counter */
    list-style-type: none;
    /* create custom counter and set it to 0 */
    counter-reset: elementcounter;
  }
  
  #customlistconference>li:before {
    /* print out "Element " followed by the current counter value */
    content: "[C" counter(elementcounter) "]";
    /* increment counter */
    counter-increment: elementcounter;
  }